# Environment
.env
backend/.env

# Database
*.sqlite3

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# Media files (Cloudinary handle korbe)
backend/media/

# Node
frontend/node_modules/
frontend/dist/

# IDE
.idea/
.vscode/

# Logs
*.log
django.err.log
django.log

# Temp
tmp_assignment_render/